body {
    background-image: url("../src/multiplayer_wallpaper.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    text-align: center;
}

body::after {
    content:"";
    opacity: 0.5;
    background: rgba(0, 0, 0, 0.7);
    top:0;
    bottom:0;
    right:0;
    left:0;
    position: fixed;
    z-index: -1;
}

.topnav {
    width: 100%;
    overflow: auto;
    display: block;
    position: fixed;
    top: 0;
    text-align: left;
    margin: 10px;
  }

.topnav a {
    float: left;
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 35px;
    text-shadow: 2px 2px 2px black;
}
.topnav a:hover {
    color: rgba(255, 255, 255, 0.7);
}

@media screen and (max-width: 500px) {
    .topnav a {
        float: none;
        display: block;
    }
}





.option-nav {
    height: 20px;
    width: 500px;
    font-size: 30px;
    font-family: cursive;
    margin: 10px auto;
    line-height: 15px;
    color: white;
    text-shadow: 2px 2px 2px black;
}

#player-nav {
    display: inline-block;
    cursor: default;
    float: left;
    width: 150px;
    text-align: left;
	margin-top: 5px;
}

#player {
    font-family: cursive;
    font-size: 32px;
    color: rgb(255, 255, 255);
}

#check-nav {
    display: inline-block;
    cursor: default;
    text-align: left;
    margin-left: 10px;
	margin-top: 5px;
}

#check {
    font-family: cursive;
    font-size: 32px;
    color: rgb(255, 255, 255);
}

#undo-btn, #option {
    display: inline-block;
    float: right;
    cursor: pointer;
    margin-left: 50px;
    position: relative;
    
}

.btn .tooltiptext {
    visibility: hidden;
    font-family: monospace;
    width: 100px;
    background: #000;
    color: #ccc;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    line-height: 20px;
    font-size: 22px;
	
    position: absolute;
    z-index: 1;
    top: 120%;
    left: 50%;
    margin-left: -50px;
    
}

#undo-btn .tooltiptext {
	width: 80px;
	margin-left: -40px;
}

.btn .tooltiptext::after {
    content: "";
    position: absolute;
    bottom: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent transparent rgb(255, 255, 255) transparent;

}

.btn:hover .tooltiptext {
    visibility: visible;
    color: rgba(255, 255, 255, 0.7);
}


